<mat-card appearance="outlined" class="cursor-pointer" (click)="onOpenDialog()">
    <mat-card-header>
        <mat-card-title>{{ mod().name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="mod().src | imagePath" class="py-2 max-w-40 block mx-auto" />
    <mat-card-content [matTooltip]="mod().description">
        <span>
            {{ 
                mod().description.length <= 20
                ? mod().description
                : mod().description.substring(0, 30) + '...' 
            }}
        </span>
    </mat-card-content>
</mat-card>