<header class="bg-sky-950 text-white flex items-center justify-between lg:justify-evenly p-4 relative">
    <a routerLink="/mods" class="hidden md:block">Mods</a>
    <button class="block md:hidden" (click)="toggleMenu()">
        <img [src]="onceHumanLogo" alt="Logo" class="h-16 md:h-20 lg:h-24 mx-auto">
    </button>
    <a [href]="officialSiteUrl" target="_blank" class="hidden md:block">
        <img [src]="onceHumanLogo" alt="Logo" class="h-16 md:h-20 lg:h-24 mx-auto">
    </a>
    <a [href]="interactiveMapUrl" target="_blank" class="hidden md:block">Interactive map</a>
    @if (menuOpen) {
    <div class="fixed inset-0 bg-gray-900 bg-opacity-75 z-50">
        <div class="absolute top-0 left-0 w-64 bg-sky-950 h-full p-6 flex flex-col justify-between">
            <div>
                <button (click)="toggleMenu()" class="text-white text-right w-full">
                    <mat-icon>clear</mat-icon>
                </button>
                <ul class="mt-8 space-y-4 text-lg">
                    <li><a [href]="officialSiteUrl" target="_blank" class="block">Official site</a></li>
                    <li><a routerLink="/mods" class="block">Mods</a></li>
                    <li><a [href]="interactiveMapUrl" target="_blank" class="block">Interactive map</a></li>
                </ul>
            </div>
            <div class="text-center">
                <p>Dtabo</p>
                <p>&copy; {{ currentYear }}</p>
            </div>
        </div>
    </div>
    }
</header>